#php_flag zend.ze1_compatibility_mode on
DefaultLanguage ru
AddCharset UTF-8 .php
AddDefaultCharset utf-8
php_flag display_errors off
php_flag log_errors on
php_value include_path ".:/var/www/html/appcode:/var/www/html/common"
php_flag session.use_only_cookies on
php_value error_reporting 32767
ErrorDocument 404 /404/
RewriteEngine On
RewriteCond %{HTTP_HOST}   ^kogda-igra\.spb\.ru$ [NC]
RewriteRule (.*)$ http://kogda-igra.ru/spb/$1 [R=permanent]
RewriteCond %{HTTP_HOST}   ^kogda-igra\.msk\.ru$ [NC]
RewriteRule (.*)$ http://kogda-igra.ru/msk/$1 [R=permanent]
RewriteRule http://kogda-igra.msk.ru/?(.*)$ http://kogda-igra.ru/msk/$1 [R=permanent]
RewriteCond %{HTTP_HOST} ^www\.kogda-igra\.ru$ [NC]
RewriteRule (.*)$ http://kogda-igra.ru/$1 [R=permanent]
RewriteCond %{HTTP_HOST} ^www\.kogda-igra\.spb\.ru$ [NC]
RewriteRule (.*)$ http://kogda-igra.ru/spb/$1 [R=permanent]
RewriteCond %{HTTP_HOST} ^www\.kogda-igra\.msk\.ru$ [NC]
RewriteRule (.*)$ http://kogda-igra.ru/msk/$1 [R=permanent]
RewriteRule ^appcode(.*) http://kogda-igra.ru/

RewriteRule ^ural/19(.*)/?$ /?region=5&year=19$1
RewriteRule ^ural/20(.*)/?$ /?region=5&year=20$1
RewriteRule ^ural/?$ /?region=5
RewriteRule ^south/19(.*)/?$ /?region=7&year=19$1
RewriteRule ^south/20(.*)/?$ /?region=7&year=20$1
RewriteRule ^south/?$ /?region=7
RewriteRule ^sibir/19(.*)/?$ /?region=6&year=19$1
RewriteRule ^sibir/20(.*)/?$ /?region=6&year=20$1
RewriteRule ^sibir/?$ /?region=6
RewriteRule ^nw/19(.*)/?$ /?region=4&year=19$1
RewriteRule ^nw/20(.*)/?$ /?region=4&year=20$1
RewriteRule ^nw/?$ /?region=4
RewriteRule ^msk/19(.*)/?$ /?region=3&year=19$1
RewriteRule ^msk/20(.*)/?$ /?region=3&year=20$1
RewriteRule ^msk/?$ /?region=3
RewriteRule ^spb/19(.*)/?$ /?region=2&year=19$1
RewriteRule ^spb/20(.*)/?$ /?region=2&year=20$1
RewriteRule ^spb/?$ /?region=2

RewriteRule ^konvent/19(.*)/?$ /?konvent=1&year=19$1
RewriteRule ^konvent/20(.*)/?$ /?konvent=1&year=20$1
RewriteRule ^konvent/?$ /?konvent=1

RewriteRule ^dv/19(.*)/?$ /?region=8&year=19$1
RewriteRule ^dv/20(.*)/?$ /?region=8&year=20$1
RewriteRule ^dv/?$ /?region=8

RewriteRule ^volga/19(.*)/?$ /?region=9&year=19$1
RewriteRule ^volga/20(.*)/?$ /?region=9&year=20$1
RewriteRule ^volga/?$ /?region=9

RewriteRule ^ua/19(.*)/?$ /?region=10&year=19$1
RewriteRule ^ua/20(.*)/?$ /?region=10&year=20$1
RewriteRule ^ua/?$ /?region=10

RewriteRule ^bel/19(.*)/?$ /?region=11&year=19$1
RewriteRule ^bel/20(.*)/?$ /?region=11&year=20$1
RewriteRule ^bel/?$ /?region=11

RewriteRule ^kz/19(.*)/?$ /?region=12&year=19$1
RewriteRule ^kz/20(.*)/?$ /?region=12&year=20$1
RewriteRule ^kz/?$ /?region=12

RewriteRule ^foreign/19(.*)/?$ /?region=13&year=19$1
RewriteRule ^foreign/20(.*)/?$ /?region=13&year=20$1
RewriteRule ^foreign/?$ /?region=13


RewriteRule ^19(.*)/?$ /?year=19$1
RewriteRule ^20(.*)/?$ /?year=20$1

RewriteRule ^best/(.+)/20(.{2})/?$ /?region_name=$1&year=20$2&best=1
RewriteRule ^best/(.+)/19(.{2})/?$ /?region_name=$1&year=19$2&best=1
RewriteRule ^best/19(.{2})/?$ /?year=19$1&best=1 [L]
RewriteRule ^best/20(.{2})/?$ /?year=20$1&best=1 [L]
RewriteRule ^best/(.+)/?$ /?region_name=$1&year=2014&best=1 [L]

RewriteRule ^find/(.+)/?$ /search/?search=$1 [L]
RewriteRule ^reviews/([1234567890]+)/?$ /game/$1/ [R=permanent]
RewriteRule ^game/([1234567890]*)/?$ /game/index.php?id=$1 [L]

RewriteRule ^lenta/user/([1234567890]*)/?$ /lenta/user/index.php?id=$1 [L]
RewriteRule ^lenta/ip/([1234567890\.]*)/?$ /lenta/ip/index.php?ip=$1 [L]

RewriteRule ^photo/([1234567890]*)/?$ /photo/index.php?id=$1 [L]
RewriteCond %{REQUEST_URI} !index.php
RewriteRule ^user/(.*)/?$ user/index.php?id=$1 [last]
RewriteRule ^edit/users/([1234567890]*)/?$ /edit/users/index.php?id=$1 [L]
RewriteRule ^help-needed/email/([1234567890]*)/?$ /help-needed/email/index.php?id=$1 [L]

RewriteRule ^api/game/([1234567890]+)/?$ /api/game/get-by-id.php?id=$1 [L]
RewriteRule ^api/allrpg-info/([1234567890]+)/?$ /api/allrpg-info/find-by-id.php?id=$1 [L]
RewriteRule ^api/changed/([1234567890]+)/?$ /api/game/changed.php?timestamp=$1 [L]
RewriteRule ^api/allrpg-info/([1234567890]+)/?$ /api/allrpg-info/find-by-id.php?id=$1 [L]

RewriteRule ^game/thanks/?$ /service/message.php
RewriteRule ^edit/already/?$ /service/message.php
RewriteRule ^edit/game/([1234567890]*)/photo/?$ /edit/photo/?game_id=$1 [L]